spring:
  application:
    name: base
  
  datasource:
    url: jdbc:postgresql://localhost:5432/base
    username: base
    password: base
  
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    baseline-on-migrate: true
